<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text center">edit product</h2>
                <form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="post">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" value="{{product.name}}">
                         <select class="form-select form-select-sm mt-3" name="category" id="category" value="{{categories.category}}">
                  <option value=""  selected disabled hidden>choose here</option>
                  {{#each categories}}
                  <option value="{{this.category}}" >{{this.category}}</option>
                  {{/each}}
                 </select>
                   
                    
                    {{!-- <input type="text" name="category" class="form-control" value="{{product.category}}"> --}}
                    <label for="">price</label>
                    <input type="text" name="price" class="form-control" value="{{product.price}}">
                    <label for="">description</label>
                    <input type="text" name="description" class="form-control" value="{{product.description}}">
                    <label for="">image</label>
                    <img src="/product-images/{{product._id}}.jpg" style="height: auto; width:100px" id="imgchange" class="pt-3 pb-2">
                    <input type="file" name="image" class="form-control" onchange="changeImg(event)">
                    <button type="submit" class="btn btn-success mt-4">submit</button>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function changeImg(event){
        document.getElementById("imgchange").src = URL.createObjectURL(event.target.files[0])
    }
</script>