<section>
    <div class="container mt-5">
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">E-mail</th>
    </tr>
  </thead>
  <tbody>
  

    {{#each users}}
    
    <tr>
      <th scope="row" class="indexCount" data-value="{{ @index }}"></th>
      <td>{{this.firstname}}</td>
      <td>{{this.lastname}}</td>
      <td>{{this.email}}</td>
      <td><a href="/admin/block-user/{{this._id}}" class="btn btn-primary">Block</a></td>
       <td><a href="/admin/unblock-user/{{this._id}}" class="btn btn-danger"
       >Unblock</a></td>

    </tr>
   

    {{/each}}
  
  </tbody>
</table>
    </div>
</section>
<script>
    

  let indexCount = document.getElementsByClassName('indexCount');
  for(i=0;i<indexCount.length;i++){
    indexCount[i].innerHTML = parseInt(indexCount[i].getAttribute('data-value'))+1;
  }
</script>
