  <link href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css">
  
      <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.js"></script>

<section>
    <div class="container">
<table class="table table-hover   mt-5" id="orderTable">
  <thead>
    <tr>
      <th scope="col" >No</th>
      <th scope="col text-center">Date</th>
       <th scope="col">Address</th>
      <th scope="col">pincode</th>
      <th scope="col">Status</th>
      
      <th scope="col">Total-Amount</th>
     
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th scope="row" class="indexCount" data-value="{{@index}}"></th>
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td>{{this.deliveryDetails.pincode}}</td>
      <td>{{this.status}}</td>
       
      <td>{{this.totalAmount}}</td>
      {{/each}}
    </tr>
    

    <tr>
    
  </tbody>
</table>
    </div>
</section>
<script>
    let indexCount = document.getElementsByClassName("indexCount")
    for(i=0;i<indexCount.length;i++)
    indexCount[i].innerHTML = parseInt(indexCount[i].getAttribute('data-value'))+1
</script>
<script>
  $( function () {
    $('#orderTable').DataTable();
} );
</script>

