<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.foundation.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.foundation.min.js"></script>
<br>
{{!-- <br> --}}

<section>
  <div class="container">
<table class="table table-hover mt-3" id="orderTable" style="width: 100%; border:1px solid black;">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col text-center">Date</th>
      <th scope="col" style="width: 250px;">Address</th>
       <th scope="col" style="width: 150px;">Products</th>
      

      <th scope="col">Total-Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th scope="row" class="indexCount" data-value="{{@index}}"></th>
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}} {{this.deliveryDetails.pincode}}</td>
       <td>
          {{#each this.products}}
           {{this.name}} .
           {{/each}}
           </td>
      

      <td>{{this.totalAmount}}</td>
      <td>{{this.status}}</td>
      <td>
        
        {{!-- <a href="/admin/cancel-order/{{this._id}}" class="btn btn-primary" style="font-size: small;">Cancel</a>
       <a href="/admin/approve-order/{{this._id}}" class="btn btn-primary" style="font-size: small;">Shipped</a>
        <a href="/admin/deliverd-order/{{this._id}}" class="btn btn-primary" style="font-size: small;">deliverd</a> --}}
      <div class="dropdown">
  <button class="dropbtn">Actions</button>
  <div class="dropdown-content">
    <a href="/admin/cancel-order/{{this._id}}">Cancel</a>
    <a href="/admin/approve-order/{{this._id}}">Shipped</a>
    <a href="/admin/deliverd-order/{{this._id}}">deliverd</a>
  </div>
</div>

      </td>
     
    </tr>
 {{/each}}

    

  </tbody>
</table>
</div>
</section>
<script>
  let indexCount = document.getElementsByClassName("indexCount")
  for (i = 0; i < indexCount.length; i++)
    indexCount[i].innerHTML = parseInt(indexCount[i].getAttribute('data-value')) + 1
</script>
<script>
  $(document).ready(function () {
    $('#orderTable').DataTable();
  });
</script>
<style>
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>