<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.foundation.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.foundation.min.js"></script>

<section>
    <div class="container">
        <div class="row mt-4 mb-3">
            <div class="col" >
            <a href="/admin/add-product" class="btn btn-primary">Add Product</a>
        </div>
        </div>
        <table class="table table-hover  mt-5" id="productTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each products}}
     
      <th scope="row" class="indexCount" data-value="{{@index}}"></th>
     
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.description}}</td>
      <td><img style="height: 50px; width: 50px;" src="/product-images/{{this._id}}.jpg"></td>
      <td>{{this.price}}</td>
      <td>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('are you sure to delete {{this.name}} ? ')">Delete</a>
      
      </td>
      
      
     
    </tr>
     {{/each}}
   
  </tbody>
</table>
    </div>
</section>
<script>

  let indexCount = document.getElementsByClassName('indexCount');
  for(i=0;i<indexCount.length;i++){
    indexCount[i].innerHTML = parseInt(indexCount[i].getAttribute('data-value'))+1;
  }

   $(document).ready(function () {
    $('#productTable').DataTable();
  });
</script>