
	<!-- StyleSheet -->
	<link rel="icon" type="image/png" href="/eshop/eshop/images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/eshop/eshop/css/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="/eshop/eshop/css/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="/eshop/eshop/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/eshop/eshop/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="/eshop/eshop/css/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="/eshop/eshop/css/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="/eshop/eshop/css/animate.css">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="/eshop/eshop/css/flex-slider.min.css">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="/eshop/eshop/css/owl-carousel.css">
	<!-- Slicknav -->
    <link rel="stylesheet" href="/eshop/eshop/css/slicknav.min.css">
	
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="/eshop/eshop/css/reset.css">
	<link rel="stylesheet" href="/eshop/eshop/style.css">
    <link rel="stylesheet" href="/eshop/eshop/css/responsive.css">

	
	
</head>
<body class="js">
	
	
	
	
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
								<li><i class="ti-email"></i> support@shophub.com</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main" id="li">
								{{!-- <li><i class="ti-location-pin"></i> Store location</li>
								<li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li> --}}
								{{#if user}}
								<li> <a href="#"></a></li>
								{{else}}
								<li><i class="ti-user"></i> <a href="/signup">Sign-in</a></li>
							{{/if}}
								{{#if user}}
								<li><i class="ti-user"></i> <a href="#">{{user.firstname}}</a></li>
								{{else}}
								<li><i class="ti-user"></i> <a href="#">Account</a></li>
							{{/if}}
							{{!-- <li><i class="ti-user"></i> <a href="/profile">profile</a></li>
							<ul class="dro">
								<li> <a href="/view-orders">view-orders</a></li>
								<li> <a href="/add-address">add-address</a></li>
							</ul> --}}
							{{#if user}}
								<li><i class="ti-power-off"></i><a href="/logout">Logout</a></li>
								{{else}}
							<li><i class="ti-power-off"></i><a href="/login">Login</a></li>	
							{{/if}}
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="#"><img src="/eshop/eshop/images/logo.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					{{!-- <div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Category</option>
									<option>watch</option>
									<option>mobile</option>
									<option>kid’s item</option>
								</select>
								<form>
									<input name="search" placeholder="Search Products Here....." type="search" id="myInput" onkeyup="myFunction() n">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div> --}}
					<div class="col-lg-8 col-md-7 col-12">
						
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							{{!-- <div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div> --}}
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div>
							{{!-- <div class="sinlge-bar shopping">
								<a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a> --}}
								{{!-- <!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>2 Items</span>
										<a href="/cart">View Cart</a>
									</div>
									<ul class="shopping-list">
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
											<h4><a href="#">Woman Ring</a></h4>
											<p class="quantity">1x - <span class="amount">$99.00</span></p>
										</li>
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
											<h4><a href="#">Woman Necklace</a></h4>
											<p class="quantity">1x - <span class="amount">$35.00</span></p>
										</li>
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">$134.00</span>
										</div>
										<a href="/checkout" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item --> --}}
							{{!-- </div> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category">
								<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
								<ul class="main-category">
									
									<!--<li><a href="#">accessories</a></li>
									<li><a href="#">top 100 offer</a></li>
									<li><a href="#">sunglass</a></li>
									<li><a href="#">watch</a></li>
									<li><a href="#">man’s product</a></li>
									<li><a href="#">ladies</a></li>
									<li><a href="#">westrn dress</a></li>
									<li><a href="#">denim </a></li>-->
								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">	
										<div class="nav-inner">	
											<ul class="nav main-menu menu navbar-nav">
													<li class="active"><a href="/">Home</a></li>
													{{!-- <li><a href="#prodlist">Product</a></li>	 --}}
													<li><a href="/cart">cart</a></li>	
													<li><a href="/wishlist">wishlist</a></li>										
													{{!-- <li><a href="#">Service</a></li> --}}
													{{#if user}}
													<li><a href="/user-profile">Profile<i class="ti-angle-down"></i><span class="new">New</span></a>
														
													</li>
													{{/if}}
													{{!-- <li><a href="#">Pages</a></li>									 --}}
													{{!-- <li><a href="#">Blog<i class="ti-angle-down"></i></a>
														<ul class="dropdown">
															<li><a href="#">Blog Single Sidebar</a></li>
														</ul>
													</li> --}}
													{{!-- <li><a href="#">Contact Us</a></li> --}}
												</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->








{{!-- old user header --}}

{{!-- <header>
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">vision</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">products</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">cart</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">orders</a>
        </li>
   
       
    </div>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   {{#if user}}
   {{user.name}}
   {{else}}
   Account
   {{/if}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {{#if user}}
  <a class="dropdown-item" href="/logout">logout</a>
  {{else}}
    <a class="dropdown-item" href="/login">Login</a>
    {{/if}}
    
  </ul>
</div>
  </div>
</nav>
   </header> --}}

   <style>
	.li li ul.dro li{
		display: block;
	}
	ul.dro{
		width: 100%;
		background:#f7941d ;
		position: absolute;
		z-index: 999;
		display: none;
	}
	ul.dro li a:hover{
		background: #f7941d;
 
	}
	.li li:hover ul.dro{
		display: block;
		color:black;
	}
	ul.dro:hover{
		display:block;
	}
   </style>

   <script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

   </script>